.transparent-btn {
  background: transparent;
  border: none;
  outline: none;
}

.switchers-btn {
  height: 100%;
  width: 48.5%;
  padding: 0;
  margin: 0;
  cursor: wait;
}

.btn-cell {
  width: 180px;
  height: 110px;
  text-align: center;
  user-select: none;
}

.expand-btn-container {
  margin: 0 0 auto auto;
}

.expand-btn-container-invisible {
  margin: 0 0 auto auto;
  display: none;
}

.cell {
  width: 180px;
  height: 110px;
  border-radius: 32px;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 110px 1fr;
  display: grid;
}

.cell > * {
  grid-area: 1 / 1 / 2 / 2;
}

.visible-cell {
  width: 150px;
  height: 90px;
  border-radius: 32px;
  padding: 10px 15px 10px 15px;
  display: inline-grid;
}

.visible-cell > *{
  align-self: center;
}

.STAY {
  background: var(--usualColor);
}

.REMOVED {
  background: var(--removedColor);
}

.ADDED {
  background: var(--addedColor);
}

.empty-cell{
  background: var(--emptyColor);
}
