<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-floating">
    <select #typeSelect id="type" class="form-select" (change)="onTypeChanged(typeSelect.value)" formControlName="type">
      <option value="group">Group</option>
      <option value="teacher">Teacher</option>
      <option value="subject">Subject</option>
      <option value="room">Room</option>
    </select>
    <label for="type">Type</label>

    <app-error-info [property]="form.get('type')!!"></app-error-info>
  </div>

  <div class="form-floating">
    <input id="name" class="form-control" list="names" formControlName="name" type="text" placeholder="Name">
    <label for="name">Name</label>
    <datalist id="names">
      <option *ngFor="let selectedType of availableTypes" value="{{selectedType}}">
    </datalist>

    <app-error-info [property]="form.get('name')!!"></app-error-info>
  </div>

  <button [disabled]="!form.valid" class="btn btn-outline-light" type="submit">Continue</button>
</form>
