<div style="width: 300px; margin: auto; padding-top: 100px;">
  <div>
    <div class="form-floating" style="margin: 15px">
      <input #studyPlaceSelect id="studyPlace" class="form-select" list="edu" value="{{selectedStudyPlace?.name}}"
             (change)="changeStudyPlace(studyPlaceSelect.value)">
      <label for="studyPlace">Study place</label>
      <datalist id="edu">
        <option *ngFor="let place of studyPlaces" id="{{place.id}}">{{place.name}}</option>
      </datalist>
    </div>
    <div class="form-floating" style="margin: 15px">
      <select #typeSelect id="type" class="form-select" (change)="this.selectedType = typeSelect.value.toLowerCase()">
        <option>Group</option>
        <option>Teacher</option>
        <option>Subject</option>
        <option>Room</option>
      </select>
      <label for="type">Type</label>
    </div>
    <div class="form-floating" style="margin: 15px">
      <input id="name" class="form-select" list="names" [(ngModel)]="selectedName">
      <label for="name">Name</label>
      <datalist id="names">
        <option *ngFor="let selectedType of types.get(selectedType)" value="{{selectedType.name}}">
      </datalist>
    </div>
    <button type="button" class="btn btn-outline-light" style="width: 270px; margin: 15px" (click)="login()">Continue
    </button>
  </div>
</div>
