@use 'src/styles'

.transparent-btn
  background: transparent
  border: none
  outline: none


.add-mark-btn
  height: 100%
  width: 100%
  padding: 0
  margin: 0
  cursor: auto


.mark-text
  margin: 0
  padding: 0


.cell
  display: grid


.cell > *
  grid-area: 1 / 1 / 2 / 2


.mark_1
  align-self: center
  height: 100%
  display: flex
  align-items: center
  justify-content: center


.mark_2
  align-self: center
  height: 100%

.mark_2-divider
  transform: rotate(-45deg)
  height: 1px
  background-color: #000000
  border: none
  margin: 0
  opacity: 1

.mark_2-1
  text-align: center
  margin-right: 15px

.mark_2-2
  text-align: center
  margin-left: 15px

.not-empty-cell
  background: styles.$usualColor
  border-radius: 15px
  height: 50px
  width: 50px


.empty-cell
  background: styles.$emptyColor
  border-radius: 15px
  height: 50px
  width: 50px

.more-circle
  width: 7px
  height: 7px
  background-color: styles.$secondaryBackgroundColor
  border-radius: 50%

  margin-left: auto
  margin-right: -2px
  margin-top: -2px


.markTooltip
  display: flex

  background: styles.$primaryBackgroundColorCC
  border-radius: 10px

  .mark-cell
    display: flex
    align-items: center
    justify-content: center

    background: styles.$usualColor
    padding: 5px
    margin: 5px
    border-radius: 10px

    width: 30px
    height: 30px

    p
      padding: 0
      margin: 0
