<div *ngIf="visible" style="position: absolute; z-index: 1;">
  <button class="btn close-btn" type="button" (click)="closePopup()" style="position: absolute">X</button>
  <div class="container">
    <p>{{lesson!!.subject + ' ' + lesson!!.date.toLocaleDateString()}}</p>

    <select #typeSelect class="form-select" id="typeSelect">
      <option *ngFor="let type of types" selected>{{type}}</option>
    </select>

    <input type="text" class="form-control mark-input" placeholder="Homework" [(ngModel)]="lesson!!.homework">
    <input type="text" class="form-control mark-input" placeholder="Small description" [(ngModel)]="lesson!!.smallDescription">
    <textarea type="text" class="form-control mark-input" placeholder="Description" [(ngModel)]="lesson!!.description"></textarea>

    <button type="button" class="btn btn-outline-secondary mark-confirm" (click)="confirm()">
      Confirm
    </button>
  </div>
</div>
