:host {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(var(--vh, 1vh) * 100 - 150px);
}

form {
  width: 300px;

  > * {
    width: 100%;

    margin: 10px 0;
  }

  button[type="submit"] {
    width: 260px;
  }

  .google {
    padding: 0;

    img {
      width: 38px;
      height: 38px;
    }
  }

  .signup {
    text-align: center;

    a {
      margin-right: 40px;
    }
  }
}
