@use "../../../../../../styles";

main {
  position: relative;

  width: 230px;

  background-color: styles.$primaryBackgroundColor;
  border-radius: 25px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);

  padding: 10px;
}

h4 {
  color: styles.$usualColor;
  background: styles.$primaryBackgroundColor;
  position: absolute;
  top: -20px;
  left: 0;
  border-radius: 15px 15px 0 0;
  padding: 10px;
  width: fit-content;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-height: 450px;
  margin-top: 20px;

  overflow: auto;

  * {
    transition: all .15s;
    width: 180px;

    &:hover {
      color: black;
      width: 200px;
    }
  }
}

.select-all-btn {
  margin: 10px;
  width: 180px;
}

.btn-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: aliceblue;
  border-radius: 10px;
}
