<ng-container class="main-container" *ngIf="userService.user$ | async as user else elseBlock">
  <div class="profile-container">
    <div class="profile-card">
      <div>
        <img [src]="user.picture" referrerpolicy="no-referrer" alt="profile" width="48" height="48" class="rounded-circle">
        <h3>{{user.login}}</h3>
      </div>
      <hr>
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
      <p>{{user.studyPlace}}</p>
      <p>{{user.typeName}}</p>
    </div>
    <button class="btn btn-warning" (click)="signOut()">Sing out</button>
    <button class="btn btn-danger" (click)="revoke()">Revoke token</button>
  </div>
  <section>
    <app-profile-option title="Info" [opened]="true">
      <div>Not implemented yet</div>
    </app-profile-option>
    <app-profile-option title="Accept users">
      <app-accept-users></app-accept-users>
    </app-profile-option>
    <app-profile-option title="Edit">
      <app-edit-user></app-edit-user>
    </app-profile-option>
  </section>
  <div></div>
</ng-container>

<ng-template #elseBlock>No user</ng-template>
