@use "../../../../styles";

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 570px){
  .main-container{
    justify-content: center;
    flex-wrap: wrap;
  }
}

.children-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;

  margin: 15px 75px;
  min-width: 310px;

  background: styles.$emptyColor;
  border-radius: 25px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: styles.$usualColor;
  border-radius: 25px;

  width: 230px;
  height: auto;
  padding: 10px;
  margin-bottom: 15px;

  p {
    margin: 2px;
    width: 200px;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  div {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }

    h3 {
      margin: 0;
    }

    h4 {
      margin: 0;
    }
  }
}

.profile-container{
  margin: 15px 0 15px 15px;
}

.revoke-btn{
  width: 230px;
  border-radius: 15px;
}
