@use "../../../../styles";

.schedule-wrapper {
  width: 0;
  overflow: scroll;
  display: flex;
  height: calc(var(--vh, 1vh) * 100 - 130px);

  flex-grow: 1;

  justify-content: start;

  margin-bottom: 20px;

  white-space: nowrap;
}

.time-container {
  position: sticky;
  left: 0;

  width: 80px;
  height: 100%;
  margin-top: 30px;

  background: styles.$primaryBackgroundColor;
  z-index: 4;
}

.layout {
  position: sticky;
  left: 0;

  height: 100%;

  margin-top: 30px;

  z-index: 1;
}

.weekdays-container {
  display: flex;
  position: sticky;
  grid-area: weekdays;

  height: 30px;
  top: 0;

  background: styles.$primaryBackgroundColor;

  z-index: 3;
}

.lessons-container {
  position: relative;

  height: 100%;

  margin-left: 10px;

  z-index: 2;
}

.cell {
  position: absolute;
}

.time {
  position: absolute;

  color: styles.$usualColor;
  text-align: center;
}

.weekday {
  color: styles.$usualColor;
  text-align: center;
  margin: 0 10px;

  width: 180px;
}

.time-line {
  position: absolute;
  margin: 0;
  width: 98vw;

  border-top: 1px dashed styles.$usualColor;
  opacity: 0.6;
}

.edit {
  height: calc(var(--vh, 1vh) * 100 - 130px);
  width: 200px;

  overflow-y: scroll;
}

.edit-control, .edit-control-footer{
  position: sticky;
  width: -webkit-fill-available;

  * {
    width: 100%;
  }
}

.edit-control {
  top: 0;
  margin-bottom: 15px;
}

.edit-control-footer {
  bottom: 0;
}

.dialog {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.add-subject-dialog {
  align-self: center;
}
