@use "src/styles";

.schedule-main-container {
  display: grid;
  grid-template-areas: ". weekdays" "time lessons";

  justify-content: start;

  margin-bottom: 20px;
}

.time-container {
  position: sticky;
  left: 0;

  grid-area: time;

  width: 80px;

  background: styles.$primaryBackgroundColor;
  z-index: 2;
}

.weekdays-container {
  display: flex;
  position: sticky;
  top: 70px;

  grid-area: weekdays;

  height: 30px;

  background: styles.$primaryBackgroundColor;
  z-index: 1;
}

.lessons-container {
  position: relative;
  grid-area: lessons;

  margin-left: 10px;
}

.event {
  position: absolute;
}

.time {
  position: absolute;

  color: styles.$usualColor;
  text-align: center;
}

.weekday {
  color: styles.$usualColor;
  text-align: center;
  margin: 0 10px;
}

.time-line {
  position: absolute;
  margin: 0;
  width: 98vw;

  border-top: 1px dashed styles.$usualColor;
  opacity: 0.6;
}
