<div *ngIf="schedule$ | async as schedule">
  <div class="main-schedule-container">
    <app-edit-scdedule *ngIf="isEditMode" [schedule]="schedule"></app-edit-scdedule>
    <div class="schedule-wrapper">
      <div class="schedule-container" [style.height.px]="maxHeight">
        <div class="layout">
          <hr *ngFor="let time of schedule.info.times" class="time-line" [style.top.px]="yTime(time)">
        </div>
        <div class="time-container">
          <p *ngFor="let time of schedule.info.times" class="time"
             [style.top.px]="yTime(time) - 20">{{time | moment : "hh:mm A"}}</p>
        </div>
        <div>
          <div class="weekdays-container">
            <p *ngFor="let i of days" class="weekday">{{weekDays[i % 7]}}</p>
          </div>
          <div class="lessons-container">
            <app-schedule-cell
              *ngFor="let cell of cells"
              [schedule]="schedule"
              [appScheduleCell]="cell"
              class="cell"
              [cell]="cell"
              [isEditMode]="isEditMode"></app-schedule-cell>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="isEditMode = !isEditMode">Edit</button>
</div>

