<div *ngIf="schedule$ | async as schedule">
  <div class="main-schedule-container">
    <div class="edit" *ngIf="isEditMode">
      <div class="edit-control">
        <input type="text" class="form-control edit-input" [(ngModel)]="templatesFilter">
        <button type="button" class="btn btn-light" (click)="add()">Add</button>
      </div>
      <div *ngFor="let lesson of templateLessons" (click)="add(lesson)" style="margin-top: 10px">
        <app-schedule-subject *ngIf="templateFilter(templatesFilter, lesson)" [lesson]="lesson"></app-schedule-subject>
      </div>
      <div class="edit-control-footer">
        <button type="button" class="btn btn-light" (click)="confirmEdit()">Confirm</button>
      </div>
    </div>
    <div class="schedule-wrapper">
      <div class="schedule-container" [style.height.px]="maxHeight">
        <div class="layout">
          <hr *ngFor="let time of schedule.info.times" class="time-line" [style.top.px]="yTime(time)">
        </div>
        <div class="time-container">
          <p *ngFor="let time of schedule.info.times" class="time"
             [style.top.px]="yTime(time) - 20">{{time | moment : "hh:mm A"}}</p>
        </div>
        <div>
          <div class="weekdays-container">
            <p *ngFor="let i of days" class="weekday">{{weekDays[i % 7]}}</p>
          </div>
          <div class="lessons-container">
            <app-schedule-cell
              *ngFor="let cell of cells"
              [schedule]="schedule"
              [appScheduleCell]="cell"
              class="cell"
              [cell]="cell"
              [isEditMode]="isEditMode"></app-schedule-cell>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="isEditMode = !isEditMode">Edit</button>
</div>

