@use "src/styles";

.schedule-wrapper {
  overflow: scroll;
  display: flex;
  height: calc(100vh - 130px);

  justify-content: start;

  margin-bottom: 20px;

  white-space: nowrap;
}

.time-container {
  position: sticky;
  left: 0;

  width: 80px;
  margin-top: 30px;

  background: styles.$primaryBackgroundColor;
  z-index: 2;
}

.weekdays-container {
  display: flex;
  position: sticky;
  top: 0;

  grid-area: weekdays;

  height: 30px;

  background: styles.$primaryBackgroundColor;
  z-index: 1;
}

.lessons-container {
  position: relative;

  margin-left: 10px;
}

.event {
  position: absolute;
}

.time {
  position: absolute;

  color: styles.$usualColor;
  text-align: center;
}

.weekday {
  color: styles.$usualColor;
  text-align: center;
  margin: 0 10px;
}

.time-line {
  position: absolute;
  margin: 0;
  width: 98vw;

  border-top: 1px dashed styles.$usualColor;
  opacity: 0.6;
}
