<div class="dialog">
  <button (click)="close()" class="btn-close"></button>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <h3>Add Subject</h3>

    <div class="date-container">
      <p>Date:</p>
      <div style="display: block">
        <input type="date" class="form-control" [min]="currentDate" [max]="maxDate" formControlName="date">
        <app-error-info [property]="form.get('date')!!"></app-error-info>
      </div>
    </div>
    <div class="subject-row">
      <div style="display: block">
        <div style="width: 180px; height: 90px">
          <app-schedule-subject [editable]="true" [topCorner]="true" [bottomCorner]="true"
                                formControlName="subject"></app-schedule-subject>
        </div>
        <app-error-info [property]="form.get('subject')!!"></app-error-info>
      </div>

      <div class="time-container">
        <div>
          <input type="time" class="form-control" formControlName="startTime">
          <app-error-info [property]="form.get('startTime')!!"></app-error-info>
        </div>

        <div>
          <input type="time" class="form-control" formControlName="endTime">
          <app-error-info [property]="form.get('endTime')!!"></app-error-info>
        </div>
      </div>
    </div>

    <button [disabled]="!form.valid" type="submit" class="btn btn-outline-dark">Add</button>
  </form>
</div>
