<div style="width: 300px; margin: auto; padding-top: 100px;">
  <div>
    <div class="form-floating" style="margin: 15px">
      <input id="studyPlace" class="form-control" placeholder="Login" [(ngModel)]="login">
      <label for="studyPlace">Login</label>
    </div>
    <div class="form-floating" style="margin: 15px">
      <input id="name" class="form-control" placeholder="Password" [(ngModel)]="password" type="password">
      <label for="name">Password</label>
    </div>
    <button type="button" class="btn btn-outline-light" style="width: 270px; margin: 15px" (click)="loginBtn()">Continue
    </button>
  </div>
</div>

