<div>
  <div *ngIf="!isSelected">
    <div *ngFor="let subject of groups">
      <a href="journal/view?group={{subject.group}}&subject={{subject.subject}}">
        {{subject.group}}: {{subject.subject}}
      </a>
    </div>
  </div>
  <div>
    <table style="border-spacing: 15px; border-collapse: separate" id="mainTable">
      <tr>
        <td></td>
        <td></td>
        <td *ngFor="let lesson of lessons;" >
          <div class="date" (click)="appDateProperty.onClick()">
            <span>{{lesson.date.toLocaleDateString('ru', {month: 'short'})}}</span>
            <span>{{lesson.date.toLocaleDateString('ru', {day: 'numeric', weekday: 'short'})}}</span>
          </div>
          <app-date-property #appDateProperty [lesson]="lesson" [types]="lessonTypes"></app-date-property>
        </td>
      </tr>
      <tr *ngFor="let member of groupMembers; let y = index" [attr.data-index]="y">
        <td class="number">{{y + 1}}</td>
        <td class="name">{{member.fullName}}</td>
        <td *ngFor="let lesson of member.lessons; let x = index" [attr.data-index]="x"
            (keydown.arrowUp)="focusCell(x + 2, y)"
            (keydown.arrowRight)="focusCell(x + 3, y + 1)"
            (keydown.arrowDown)="focusCell(x + 2, y + 2)"
            (keydown.arrowLeft)="focusCell(x + 1, y + 1)"
            (keydown)="onKeyPressed($event.key, cell)"
            class="cell"
            tabindex="0">
          <app-journal-cell #cell [lesson]="lesson" [userId]="member.id"></app-journal-cell>
        </td>
      </tr>
    </table>
  </div>
</div>
