<div>
  <button class="btn close-btn" type="button" (click)="closePopup()" style="position: absolute">X</button>
  <div class="container">
    <input id="markInput" #markInput type="text" class="form-control mark-input" placeholder="Mark"
           aria-label="Recipient's username" aria-describedby="basic-addon2"
           (keydown)="confirmInput($event.code, markInput.value)">

    <div class="action-container btn-group" id="action-toggle-container">
      <div *ngFor="let mark of marks">
        <input type="radio" class="btn-check" name="action" [id]="mark.id" (click)="selectedMark = mark">
        <label class="mark-button btn btn-outline-dark" [for]="mark.id">{{mark.mark}}</label>
      </div>

      <div>
        <input type="radio" class="btn-check" name="action" id="mark-add" autocomplete="off"
               (click)="selectedMark = undefined" checked>
        <label class="mark-button btn btn-outline-dark" for="mark-add">+</label>
      </div>
    </div>

    <div class="marks-container">
      <div *ngFor="let mark of availableMarks">
        <button class="mark-button btn btn-outline-dark" (click)="addMark(mark)"
                *ngIf="mark != selectedMark?.mark">{{mark}}</button>
        <button class="mark-button btn btn-outline-dark" (click)="removeMark()" *ngIf="mark == selectedMark?.mark">🗑
        </button>
      </div>
    </div>
    <button type="button" class="btn btn-outline-secondary mark-confirm" (click)="confirm(markInput.value)">Confirm
    </button>
  </div>
</div>
