<div style="margin: 10px">
  <div style="display: flex; align-items: center">
    <button type="button" class="btn btn-light" style="margin: 10px" (click)="deleteLog()">Delete logs</button>
    <div class="input-group mb-3" style="width: 250px; margin-bottom: 0 !important;">
      <input #urlInput type="text" class="form-control" placeholder="Server" aria-label="Server" aria-describedby="basic-addon2">
      <button type="button" class="btn btn-light input-group-append" (click)="connect(urlInput.value + '/')">Connect</button>
    </div>
  </div>
  <div style="display: flex; align-items: flex-start">
    <table style="margin-right: 25px;">
      <tr>
        <td>Time</td>
        <td>Message</td>
      </tr>
      <tr *ngFor="let log of logs" [class]="log.level">
        <td>{{log.time.toLocaleString()}}</td>
        <td>{{log.msg}}</td>
      </tr>
    </table>
    <table>
      <tr>
        <td>Time</td>
        <td>Code</td>
        <td>Timeout</td>
        <td>Ip</td>
        <td>Method</td>
        <td>Url</td>
      </tr>
      <tr *ngFor="let request of requests"  [class]="request.level">
        <td>{{request.time.toLocaleString()}}</td>
        <td>{{request.code}}</td>
        <td>{{request.timeout}}</td>
        <td>{{request.ip}}</td>
        <td>{{request.method}}</td>
        <td>{{request.url}}</td>
      </tr>
    </table>
  </div>
</div>
