@use "src/styles";

input {
  background: transparent;
  border: none;
  width: inherit;
}

.cell {
  border-radius: 25px;
  padding: 10px 15px 10px 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.STAY {
  background: styles.$usualColor
}


.REMOVED {
  background: styles.$removedColor
}


.ADDED {
  background: styles.$addedColor
}
