<div class="cell {{subject!!.type}}">
  <p #subjectInput style="margin: 0; font-weight: bold" [contentEditable]="editable"
     (input)="subject!!.subject = subjectInput.innerText" id="subject"></p>
  <p #teacherInput style="margin: 0" [contentEditable]="editable"
     (input)="subject!!.teacher = teacherInput.innerText">{{ subject!!.teacher }}</p>
  <div style="display: flex">
    <p #roomInput style="margin: 0" [contentEditable]="editable"
       (input)="subject!!.room = roomInput.innerText">{{ subject!!.room }}</p>
    <p #groupInput style="margin: 0 0 0 auto;" [contentEditable]="editable"
       (input)="subject!!.group = groupInput.innerText">{{ subject!!.group }}</p>
  </div>
</div>
