@use "../../../../../styles";

input {
  background: transparent;
  border: none;
  width: inherit;

  margin: 0;
  padding: 0;
  color: currentcolor;
}

input:read-only:focus-visible {
  outline: none;
}

.subject-name {
  font-weight: bold;
}

.cell {
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;

  height: 100%;
}


.STAY {
  background: styles.$usualColor
}


.REMOVED {
  background: styles.$removedColor
}


.ADDED {
  background: styles.$addedColor
}

.GENERAL {
  background: #B4B4B4FF
}

.topCorner {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.bottomCorner {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

div {
  display: flex;
  * {
    width: 50%;

    &:last-child {
      text-align: end;
    }
  }
}
