@use "src/styles";

input {
  background: transparent;
  border: none;
  width: inherit;
}

.cell {
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;

  height: 100%;
}


.STAY {
  background: styles.$usualColor
}


.REMOVED {
  background: styles.$removedColor
}


.ADDED {
  background: styles.$addedColor
}

.topCorner{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.bottomCorner{
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
