<div class="cell" #root>
  <div class="edit-container" *ngIf="showEditControls()">
    <button class="edit-control-button transparent-btn remove-btn" (click)="removeSubjectDialog()"></button>
    <button class="edit-control-button transparent-btn edit-btn"></button>
  </div>
  <section>
    <div *ngFor="let lesson of lessons[selectedSubjectIndex]; first as isFirst; last as isLast; index as index"
         class="subject-cell">
      <app-schedule-subject #subject [lesson]="lesson" [topCorner]="isFirst" [bottomCorner]="isLast">
      </app-schedule-subject>
    </div>
  </section>
  <div *ngIf="!cell?.updated" class="not-updated"></div>
  <div class="btn-cell">
    <button (click)="previousSubject()" class="transparent-btn switchers-btn"></button>
    <button (click)="nextSubject()" class="transparent-btn switchers-btn"></button>
  </div>
  <div *ngIf="lessons.length > 1" class="more-circle"></div>
</div>
