<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a (click)="mySchedule()" class="header_text">My schedule</a></li>
        <li><a routerLink="schedule/login" class="header_text">Schedule</a></li>
        <li><a href="#" class="header_text">_</a></li>
        <li><a href="#" class="header_text">_</a></li>
      </ul>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
      <div class="text-end">
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        <button type="button" class="btn btn-outline-light me-2">Exit</button>
      </div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
