<header class="p-3 mb-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li *ngIf="username"><a (click)="mySchedule()" class="header_text">My schedule</a></li>
        <li><a routerLink="schedule/login" class="header_text">Schedule</a></li>
        <li *ngIf="username"><a routerLink="journal/view" class="header_text">Journal</a></li>
        <li><a href="#" class="header_text">_</a></li>
      </ul>


      <div class="text-end" *ngIf="!username">
        <button type="button" class="btn btn-outline-light me-2" (click)="login()">Login</button>
      </div>

      <div class="dropdown" style="display: contents" *ngIf="username">
        <a routerLink="user" class="header_text">{{username}}</a>
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img [src]="userPicture" referrerpolicy="no-referrer" alt="profile" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
          <li><p class="dropdown-item-text">{{status}}</p></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" routerLink="user/edit">Edit</a></li>
          <li><a class="dropdown-item" routerLink="user">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logout()" href="#">Sign out</a></li>
        </ul>
      </div>
      <button *ngIf="showEditBtn" type="button" class="btn btn-danger me-2" (click)="editSchedule()">Edit</button>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
