@use '@angular/material' as mat;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@include mat.core();

$my-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$purple-palette, 500),
    accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
  )
));

@include mat.core-theme($my-theme);

$primaryBackgroundColor: #434C5D;
$primaryBackgroundColorCC: #434C5Dcc;
$secondaryBackgroundColor: #E6BA92;
$secondaryBackgroundColor70: rgba(230, 186, 146, 0.7);
$addedColor: #71AB7F;
$removedColor: #FA6F46;
$emptyColor: #505A64;
$usualColor: #f1f1f1;

body {
  background: $primaryBackgroundColor;
  font-family: 'Roboto', sans-serif;
}

header {
  background: $secondaryBackgroundColor;
}

.header_text {
  color: $usualColor;
  padding: 0.5rem 1rem;
  cursor: pointer !important;
  text-decoration: none;
}

@media (max-width: 800px) {
  .header_text {
    display: none;
  }
}

@media (min-width: 801px) {
  .header-image-bar {
    display: none;
  }
}

.header-image-bar {
  width: 24px;
  height: 24px;

  margin-right: 15px;
}

.header_text:hover, .header_text:focus {
  color: $usualColor;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: #8f8f8f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: gray;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

p {
  margin: 0;
}

a {
  text-decoration: none !important;
}
