@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap")

$primaryBackgroundColor: #434C5D
$primaryBackgroundColorCC: #434C5Dcc
$secondaryBackgroundColor: #E6BA92
$addedColor: #71AB7F
$removedColor: #FA6F46
$emptyColor: #505A64
$usualColor: #f1f1f1

body
  background: $primaryBackgroundColor
  font-family: 'Roboto', sans-serif

header
  background: $secondaryBackgroundColor

.header_text
  color: $usualColor
  padding: 0.5rem 1rem
  cursor: pointer !important
  text-decoration: none

.header_text:hover, .header_text:focus
  color: $usualColor
