<div style="width: 300px; margin: auto; padding-top: 100px;">
  <div>
    <div class="form-floating" style="margin: 15px">
      <input id="email" class="form-control" [(ngModel)]="email">
      <label for="email">Email</label>
    </div>
    <div class="form-floating" style="margin: 15px">
      <input id="password" class="form-control" [(ngModel)]="password" type="password">
      <label for="password">Password</label>
    </div>
    <div class="form-floating" style="margin: 15px">
      <input id="passwordRepeat" class="form-control" [(ngModel)]="passwordRepeat" type="password">
      <label for="passwordRepeat">Password</label>
    </div>
    <div class="form-floating" style="margin: 15px">
      <input #studyPlaceSelect id="studyPlace" class="form-select" list="edu" value="{{studyPlace?.name}}"
             (change)="changeStudyPlace(studyPlaceSelect.value)">
      <label for="studyPlace">Study place</label>
      <datalist id="edu">
        <option *ngFor="let place of studyPlaces" id="{{place.id}}">{{place.name}}</option>
      </datalist>
    </div>
    <div class="form-floating" style="margin: 15px">
      <select #typeSelect id="type" class="form-select" (change)="changeType(typeSelect.value)">
        <option>Student</option>
        <option>Teacher</option>
      </select>
      <label for="type">Type</label>
    </div>
    <div class="form-floating" style="margin: 15px" *ngIf="type == 'Student'">
      <input id="group" class="form-select" list="names">
      <label for="group">Group</label>
      <datalist id="names">
        <option *ngFor="let group of groups" value="{{group}}">
      </datalist>
    </div>
    <div class="form-floating" style="margin: 15px">
      <input class="form-control" [(ngModel)]="name">
      <label for="studyPlace">Name</label>
    </div>
    <div style="display: flex; margin: 15px 15px 0 15px" class="input-group">
      <button type="button" class="btn btn-outline-light" style="width: 230px;"
              (click)="continue()">Continue
      </button>
      <button type="button" class="btn btn-light google" (click)="continueViaGoogle()">
        <img src="assets/google-logo.svg" height="40" width="40" alt="google">
      </button>
    </div>
  </div>
</div>
